*.gem

# Vim
*~
*.sw[p_]

# IntelliJ IDEA
*.idea

# Sublime Text
*.sublime-project
*.sublime-workspace
.bundle
.DS_Store
.jekyll-metadata
.sass-cache
_asset_bundler_cache
_site
codekit-config.json
example/_site
Gemfile.lock
node_modules
npm-debug.log*